<html>
    <style>
        #barra{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #barra li{
            display: inline-block;
            margin: 0 20px;
        }
    </style>
    <body>
        <nav>
            <ul id = "barra">  
                <li><a class="menu" target="_blank" href="http://localhost:8000/sport4all/compra/">Registrar compra</a></li>
                <li><a class="menu" target="_blank" href="http://localhost:8000/sport4all/buscar/">Consultar compra</a></li>
                <li><a class="menu" target="_blank" href="http://localhost:8000/sport4all/productos/">Registrar venta</a></li>
                <li><a class="menu" target="_blank" href="http://localhost:8000/sport4all/carrito/">Carrito</a></li>
            </ul>
        </nav>
    </body>
</html>